*{
    margin:0;
    padding: 0;
}
#hero{
    height: 697px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;   
    display: flex;
    justify-content: center;
    
} 

#hero .hero-content{
  
   width: 1067px;
   height: 719px;
   text-align: center;
   padding: 40px;
}  

#hero .hero-content .title{
   font-weight: 800px;
   font-size: 48px;
   padding: 20px 20px;
} 

#hero .hero-content .para{
  font-weight: 400px;
  font-size: 24px;
}
#hero .hero-content .button{
    color: aliceblue;
    font-weight: bold;
    margin: 150px;
    padding: 15px;
    background-color: black;
    border-radius: 10px;

}

#container{
    position: absolute;
    width: 1040px;
    height: 1000px;
    left: 148px;
    right: 152px;
    top: 800px;
    bottom: 2993px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    }
    
    #container .containertext{
       text-align: center;
       padding-bottom: 50px;   
    }
    #container .div1{
        position: static;
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        display: inline-block;
        padding: 20px;
        height: 250px;
        margin-bottom: 20px;
    }
    #container .div1 .divtext{
        margin: 30px;
        display: inline-block;
        width: 670px;
    
    }
    #container .div1 img{
        position: absolute;
        max-width: 350px;
        float: left;
        margin-right: 300px;
        padding: 20px;
    }
    
    
    #container .div2{
        position: static;
        border-radius: 16px;
        display: inline-block;
        padding: 20px;
        height: 250px;
        margin-bottom: 20px;
    }
    #container .div2 .divtext2{
        margin: 30px;
        margin-left: 300px;
    
    }
    #container .div2 img{
        position: absolute;
        max-width: 350px;
        margin-right: 300px;
        padding: 20px;
    }
    
    #container .div3{
        position: static;
        border-radius: 16px;
        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
        display: inline-block;
        padding: 20px;
        height: 250px;
        margin-bottom: 20px;
    }
    #container .div3 .divtext3{
        margin: 30px;
        display: inline-block;
        width: 670px;
    
    }
    #container .div3 img{
        position: absolute;
        max-width: 350px;
        float: left;
        margin-right: 300px;
        padding: 20px;
    }

    #container2{
        margin-top:1200px ;
        position: absolute;
        width: 1240px;
        height: 900px;
        left: 148px;
        right: 152px;
        top: 800px;
        bottom: 2993px;
        }
    
    #container2 .containertext{
            text-align: center;
            padding-bottom: 40px;   
         }
    
#container2 .vdo{
    background-color:rgba(178, 186, 203, 0.2); ;
    position: static;
    width: 1230px;
    height: 550px;
    border-radius: 16px;
}   
    
    #container2 iframe{
        position: static;
        border-radius: 16px;
        width: 1185px;
        height: 508px;
        margin: 20px;
    
    }


    #card-box{
        margin-top:2000px ;
        position: absolute;
        width: 1240px;
        height: 900px;
        left: 148px;
        right: 152px;
        top: 800px;
        bottom: 2993px;
        }
     
    #card-box .cardbox-info{
            text-align: center;
            padding-bottom: 40px;   
    }
    
    #card-box .card-container .card-info{
       background-color: antiquewhite;
       padding: 40px;
       width: 300px;
       border-radius: 16px;
    }
    
    #card-box .card-container .card-info1{
        background-color: rgb(170, 156, 134);
        padding: 40px;
        width: 300px;
        border-radius: 16px;
     }
    
     #card-box .card-container .card-info2{
        background-color: rgb(243, 217, 182);
        padding: 40px;
        width: 300px;
        border-radius: 16px;
     }
    
    .card-container{
        display: flex;
        justify-content: space-between ;
    }

    #support{
        margin-top: 2600px;
        background-image: url(../assets/handshake.jpg);
        height: 600px;
        border-radius: 14px;
        text-align: center;
        width: 1240px;
        margin-left: 150px;
        
    }
    
    #support h2{
        color: aliceblue;
        padding-top:100px;
        padding-bottom: 80px;
        font-size: 50px;
    }
    
    #support p{
        color: rgb(197, 200, 202);
        padding-bottom: 80px;
        font-size: 32px;
        padding-bottom: 200px;
    }
    
    #support input{
        font-weight: bold;
        color: black;
        font-size: 20px;
        padding: 10px;
        height: 50px;
        width: 600px;
        border-radius: 10px;
        
    }
    
    #support button{
        background-color: white;
        color: black;
        font-weight: 800px;
        font-size: 20px;
        padding: 10px;
        height: 75px;
        width: 150px;
        border-radius: 10px;
}

footer{
    margin-top: 100px;
    background-color: azure;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 145px;
}

footer .icon2{
    display: flex; ;
    
}